<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Some additional styles */
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f8f9fa;
    }

    .login-form {
      width: 400px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
    }
  </style>
</head>

<body>

  <div class="login-form">
    <h2 class="text-center">Login</h2>
    <form action="/login" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
      </div>

      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    {{#if notuser}}
    <p id="invalid" style="color: red;">Invalid Username or Password!!!!</p>
    <script>
      setTimeout(function () {
        const msg = document.getElementById('invalid');
        msg.style.display = 'none';
      }, 3000);
    </script>
    {{/if}}
  </div>


  <!-- Bootstrap JS (Optional, for some functionalities) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>